body{
    margin: 0;
    color: black;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

.NoP{
    padding: 0;
}

.NoPr{
    padding-right: 0;
}

.NoMP{
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

.navbar{
    padding: 0;
}

.navbar>.container, .navbar>.container-fluid {
    display: block;
}

.navbar-logo{
    margin-top: 4px;
    color: white;
    float: left;
}

.navbar-logo:hover{
    color: white;
}

.navbar-logo>img{
    float: left;
    border-radius: 50%;
}

.navbar-logo>h1{
    margin-top:1px;
    margin-left: 5px;
    font-size: 18px;
    float: left;
    text-shadow: 2px 2px black;
    padding-top: 4px;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 18px;
    color: white;
    text-decoration: underline;
    padding-top: 4px;
}

.navbar-dark .navbar-nav .nav-link i{
    margin-right: 5px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #0495c4;
    border-radius: 50%;
    float: left;
}

.navbar-dark .navbar-nav .nav-link i::before{
    margin-top: 6px;
    display: block;
    text-align: center;
}

.navbar-dark .navbar-toggler {
    padding: 0!important;
    border-color: rgb(255 255 255 / 80%)!important;
    float: right;
}

.navbar-collapse{
    float: right;
}

.navbar-nav {
    display: block;
    text-align: center;
}

.navbar-nav>li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    float: none;
}

.navbar-nav>li>a:hover{
    background-image: url(../images/NavItemHover.jpg);
    background-position: top left;
    background-repeat: repeat-x;
}

.navbar-toggler-icon{
    width: 0.8em!important;
}

/* INTRO */

#intro{
    position:relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-position: top center;
    background-color: gray;
}

#intro img{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.intro1{
    background-image: url(../images/intro1.jpg);
}

.intro2{
    background-image: url(../images/intro2.jpg);
}

.intro3{
    background-image: url(../images/intro3.jpg);
}

.intro4{
    background-image: url(../images/intro4.jpg);
}

.page-content {
    background-color: white;
    box-shadow: 0 0 56px -8px rgba(0,0,0,.17);
}

#intro>h2{
    display: block;
    padding:5px;
    margin-left: 20px;
    width: 250px;
    font-size: 18px;
    color: white;
    background-color: rgba(80, 76, 76, 0.274);
    text-shadow: 2px 2px black;
    position: absolute;
    top: 70px;
    border-radius: 10px;
}

#MyIntroNav{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 30px;
    position: absolute;
    top: 90px;
    right: 5px;
}

#MyIntroNav li{
    margin-top: 10px;
}

#MyIntroNav li a{
    display: block;
    width:28px;
    height:15px;
    background-color: white;
    border:1px solid gray;
    background-image: url(../images/flash.png);
    border-radius: 30%;
}

#MyIntroNav li .selected{
    background-color:silver;
    border:1px solid black;
    background-image: url(../images/flashoff.png);
}

.MySocialSEO{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 320px;
    position: absolute;
    top: 255px;
}

.MySocialSEO>li{
    margin-left:10px;
    float: left;
}

.MySocialSEO>li>a{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color:white;
    background-color: #0495c4;
    border-radius: 50%;
    text-shadow: 2px 2px black;
    text-align: center;
}

.a2a_dd{
    color: #0495c4!important;
    background-color: white!important;
    border-radius: 50%;
}

#artline{
    background-image: url(../images/lens.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;
    width: 100%;
    height: 10px;
}

/* ABOUT ME */
.PageSubsection{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-right: 5px;
    font-size: 22px;
}

.PageSubsection span{
    padding-right: 5px;
    border-bottom: 1px solid silver;
    border-bottom-right-radius: 20%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 85%, rgba(4,149,196,1) 100%);
}

.PageSubsection i{
    margin-right: 10px;
    color: white;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #0495c4;
    border-radius: 50%;
    float: left;
}

.PageSubsection i::before{
    margin-top: 8px;
    text-align: center;
    display: block;
}


.usluge img{
    width: 100%;
    height: auto;
}

.usluge p{
    text-align: center;
}

.text-center{
    text-align: center; 
}

/* GALLERY */


/* CONTACT */

.contact{
    overflow: hidden;
    height: 330px!important;
}

.floatL{
    float: left;
}

.floatR{
    float: right;
}

.floatL img{
    width: 100%;
    height: auto;
}

/* FOOTER */

.kontakt{
    background-image: url(../images/fotokopiranje.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.map-responsive {
    overflow: hidden;
    position: relative;
    height: 300px;
}

.footer{
    padding-bottom: 5px;
    text-align: center;
    background-color: #343a40!important;
    color: white;
    font-size: 14px;
}

.footer>a{
    color: white;
    text-decoration: underline;
}

.footer>h2{
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;
}

.author {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #424242;
    box-shadow: 0 0 22px -5px rgba(0,0,0,.53);
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.author a {
    color: #fff;
    text-decoration: underline;
}

/*  Jump Button */
#page_top{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border-top:0;
    border-left:0;
    border-right: 0;
    border-bottom: 2px solid #264670;
    outline: none;
    background-color: #2f5b94;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 18px;
    background-image: url(../images/shade.png);
}